*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    width: 10rem;
    height: 8rem;
}
.active{
    background-color: blue;
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}
main{
    height: 70vh;
    display: flex;
    background-color: blue;
    
}
main>div>nav{
    height: 70vh;
    width: 18rem;
    background-color:black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
nav a{
    color: white;
    text-decoration: none;
}
.container{
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 main>section{
    display: flex;
    justify-content: space-around;
} 
section{
    height: 18rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section img{
    height: 34%;
    width: 10rem;
    border-radius: .5rem .5rem 0 0;
    
}
section h4,ul{
    width: 10rem;
    padding: 1rem ;
    
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
section ul{
    margin-bottom: 4rem;
    border-radius: 0 0 .5rem .5rem;
}
section li{
    list-style:inside;
}
footer{
    height: 9.5vh;
    background-color: gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer a{
    color: black;
}
@media only screen and (max-width: 780px) and (min-width: 700px){
    
    main>div>nav{
        width: 13rem;
    }
}
 @media only screen and (max-width: 699px) and (min-width: 660px){
    
    main>div>nav{
        width: 10rem;
    }
    .active{
        width: 100%;
    }
} 
@media only screen and (max-width: 659px) and (min-width: 600px){
    main>div>nav{
        width: 7rem

        
    }
}
@media only screen and (max-width: 599px) and (min-width: 490px){
    main{
        min-height: 70vh;
        flex-direction: column;
    }
    main>div>nav{
        width: 100%;
        height: 10vh;
        flex-direction: row;
    }
}
@media only screen and (max-width: 489px) and (min-width: 370px){
    header{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    header h1{
        font-size: 1rem;
    }
    nav a{
        font-size: .8rem;
    }
    main{
        height: 30rem;
        flex-direction: column;
    }
    main>div>nav{
        width: 100%;
        height: 10vh;
        flex-direction: row;
        font-size: .9rem;
    }
    .container{
        flex-direction: column;
    }
    section{
        width:23rem;
        max-height: 8rem;
        flex-direction: row;
        border: 1px solid black;
        border: none;
    }
    section img{
        width:33%;
        height: 100%;
        border-radius:  .5rem 0 0 .5rem;
    }
    section h4,ul{
        width:66%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section ul{
        margin-bottom: 0;
        border-radius: 0  .5rem .5rem 0;
        font-size: .7rem;
    }
    footer{
        max-height: 9.5rem;
        min-width: 100%;
        font-size: .7rem;
        justify-content: space-evenly;
        gap: 1px;
    }
    footer>form{
        width: 14rem;
    }
}

